@import '../../variables';

#footer {
    font-family: "LoveLexi";
    vertical-align: middle;
    color: white;
    font-size: 20px;
    background-color: $applecore;
    // position: fixed;
    width: 100%;
}