@import "../../variables";

#btnFriend {
  border-radius: 10px;
  background-color: $apricot;

  a:hover {
    text-decoration: none;
  }
}

#carusel {
  width: 40%;
  margin: auto;
  float: left;
  height: 70vh;
  width: 100vw;

  #card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

#lcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: $applecore;
  border-radius: 10px;
  margin-top: 70vh;
  height: 40vh;
  width: 30vw;;

}

#rcard {
    // margin-top: 70vh;
    height: 60vh;
    width: 70vh;
    background-color: $dirt;
    float: right;
}

img {
    width: 100%;
    height: auto;
}
