@import "../../variables";

#btnFriend {
  border-radius: 10px;
  background-color: $apricot;

  a:hover {
    text-decoration: none;
  }
}

#doggoimg {
  display: flex;
  width: 100vw;
}

#desc {
  height: 100vh;
  padding: 30px 100px;
  display: flex;
  flex-direction: row;
  background-color: $applecore;
}

img {
    width: 100%;
    height: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 60%;
  background-color: $apricot;
  border-radius: 8px;
  padding: 8px;
  margin: 2vw;
  color: $apricot;
}

.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}