@import "../../variables";

// #nav {
  // height: 50px;
  // background-image: url("../../images/adog.jpg");
  // min-height: 600px;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
// }

// #nav:hover {
//     height: 100px;
// }

#nav {
  display: flex;
  flex-direction: row;
}

#menu {
  text-decoration: none;
  margin: auto;
  font-family: "LoveLexi";
  color: $apricot;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  //use justify content for display flex
  justify-content: center;

  h4 {
    margin: 10px;
    text-align: center;
  }
}

#brand {
  text-decoration: none;
  color: $apricot;
  text-align: center;
  font-size: 40px;
  padding-top: 1vw;
  margin: 2vw;
}

a {
  margin: 2.5vw;
}


